.btn-rose {
  color: #ffffff;
  background-color: #823691;
}
.btn-rose:hover,
.btn-rose:focus,
.btn-rose:active,
.btn-rose.active,
.open .dropdown-toggle.btn-rose {
  color: #ffffff;
  background-color: #823691;
}
.btn-rose:active,
.btn-rose.active,
.open .dropdown-toggle.btn-rose {
  background-image: none;
}
.btn-rose.disabled,
.btn-rose[disabled],
fieldset[disabled] .btn-rose,
.btn-rose.disabled:hover,
.btn-rose[disabled]:hover,
fieldset[disabled] .btn-rose:hover,
.btn-rose.disabled:focus,
.btn-rose[disabled]:focus,
fieldset[disabled] .btn-rose:focus,
.btn-rose.disabled:active,
.btn-rose[disabled]:active,
fieldset[disabled] .btn-rose:active,
.btn-rose.disabled.active,
.btn-rose[disabled].active,
fieldset[disabled] .btn-rose.active {
  color: #ffffff;
  background-color: #823691;
}
.btn-rose .badge {
  color: #ffffff;
  background-color: #823691;
}