@media all and (max-width: 410px) {
    .app-category {
        font-size: 13px!important;
        padding: 8px;
    }
    .style_project_title {
        font-size: 32px!important;
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 411px) and (max-width: 491px) {
    .app-category {
        font-size: 16px!important;
        padding: 9px;
    }
    .style_project_title {
        font-size: 32px!important;
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 300px) and (max-width: 491px) {
    #vgCarousel {
        margin-bottom: 8px!important;
        margin-top: 12px!important;
    }
    .style_project_subtitle {
        font-size:17px!important;
        line-height: 17px;
        margin-top: 12px;
    }
    .style_project_title {
        font-size: 32px!important; 
        padding: 0px!important;
        color: #343A40;
    }
    .style_project_description {
        margin-top: 12px!important;
        font-size: 14px!important;
    }
    .style_project_authors {
        font-size: 14px!important;
    }
    .style_project_publisher {
        font-size: 14px!important;
    }
    .style_project_details {
        font-size: 14px!important;
    }
    .style_project_links {
        font-size: 14px!important;
    }
    .style_label_description {
        font-size: 22px!important;
    }
    .style_label_authors {
        margin-top: 8px!important;
        font-size: 22px!important;
    }
    .style_label_publisher {
        font-size: 22px!important;
    }
    .style_label_details {
        font-size: 22px!important;
    }
    .style_label_links {
        margin-top: 12px!important;
        font-size: 22px!important;
    }
}

@media all and (min-width: 492px) and (max-width: 649px) {
    .style_project_subtitle {
        font-size:21px!important;
        line-height: 18px;
        margin-top: 8px;
    }
    .app-category {
        font-size: 16px!important;
        padding: 9px;
        padding-left: 18px!important;
        padding-right: 18px!important;
    }
    .style_project_title {
        font-size: 36px!important;
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 650px) and (max-width: 767px) {
    .style_project_subtitle {
        font-size:18px!important;
    }
    .app-category {
        font-size: 16px!important;
        padding: 10px;
        padding-left: 32px!important;
        padding-right: 32px!important;
    }
    .style_project_title {
        font-size: 36px!important;
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 768px) and (max-width: 996px) {
    .style_project_subtitle {
        font-size:21px!important;
    }
    .app-category {
        font-size: 16px!important;
        padding: 10px;
        padding-left: 34px!important;
        padding-right: 34px!important;
    }
    .style_project_title {
        font-size: 48px!important;
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 997px) and (max-width: 1016px) {
    .style_project_subtitle {
        font-size:22px!important;
    }
    .app-category {
        font-size: 16px!important;
        padding: 10px;
        padding-left: 36px!important;
        padding-right: 36px!important;
    }
    .style_project_title {
        font-size: 48px!important; 
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 1017px) and (max-width: 1152px) {
    .style_project_subtitle {
        font-size:23px!important;
    }
    .app-category {
        font-size: 16px!important;
        padding: 10px;
        padding-left: 38px!important;
        padding-right: 38px!important;
    }
    .style_project_title {
        font-size: 48px!important; 
        line-height: 1;
        padding: 0px!important; 
        margin-top: 16px!important;
        margin-bottom: 0px!important;
        color: #343A40;
    }
}

@media all and (min-width: 1153px) {
    .style_project_subtitle {
        font-size: 28px!important;
    }
    .app-category {
        font-size: 16px!important;
        padding: 10px;
        padding-left: 42px!important;
        padding-right: 42px!important;
    }
    .style_project_title {
        font-size: 48px!important; 
        padding: 0px!important; 
        margin-top: 4px!important;
        margin-bottom: -18px!important;
        color: #343A40;
    }
}





